<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Library API Test Suite">
    <test name="User Tests">
        <classes>
            <class name="tests.UserTests"/>
        </classes>
    </test>
    <test name="Book Tests">
        <classes>
            <class name="tests.BookTests"/>
        </classes>
    </test>
    <test name="Borrow Tests">
        <classes>
            <class name="tests.BorrowTests"/>
        </classes>
    </test>
</suite>
